* {
    margin: 0;
    padding: 0;
}

header nav {
    width: 35%;
   }

   h2 {
    font-family: 'Oswald';
    background-color: rgb(221, 221, 146);
    padding: 5px;
}

h3 {

    font-family: 'Oswald';
    
}

li {
    list-style-type: none;
}

table {
    font-family: 'Quicksand';
    background-color: wheat;
}
table thead {
    background-color: yellow;
}
section ul {
    color: rgb(16, 8, 85);
}

.header {
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    padding: 10px 20px;
    font-family: 'oswald';
    margin-bottom: 30px;
    
}

.enlacesNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.enlacesNav a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #111111;
    text-decoration: none;
    font-family: 'oswald';
}

/* === SECCION INICIO === */
.bannerInicio {
    width: 100%;
    height:600px;
    background-image: url(imagenes/moto2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    display: grid;
}

.bannerInicio h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 1000px;
    color: whitesmoke;
    
    text-align: center;
    font-family: 'Krona one';
    margin-bottom: 10px;
}
 
.bannerInicio h2 {
    font-family: 'Contrail one';
    color: white;
    background-color: rgba(250, 250, 250, .5);
    padding: 5px;
    border-radius: 5px;
}

.banner-form {
    width: 100%;
    height:600px;
    background-image: url(imagenes/celular.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
}

.contacto {
    margin-left: 10%;
    background-color: rgba(250, 250, 250, .5);
    padding: 40px 20px;
    border-radius: 10px;
}
 .contacto h3 {
     font-family: 'Quicksand';
     }

.contacto form {
    display: flex;
    flex-direction: column;
}

.contacto form input, .contacto form textarea {
    margin: 10px 0;
    padding: 6px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid orange;
}

.contacto form input:focus, .contacto form textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

section {
    margin-bottom: 30px;
}

div {
    justify-content: space-around;
}

div h2 {
    background-color: white;
    text-align: center;
} 

.miArticulo{
    border: solid 1px orangered;
    border-radius: 5px;
}

img {
    display: block;
    margin: auto;
}

.articleInicio h3, h4{
    font-size: 20px;
}

footer {
    font-family: 'Quicksand';
    background-color: grey;
    color: white;
}

.informacion {
    background-color: rgb(216, 207, 207);
    font-family: 'Quicksand';
}

.lista {
    font-family: 'Oswald';
    list-style-type: none;
    list-style-position: outside;
    margin: 25px;
}

.comoLlegar {
    font-family:'Quicksand' ;
    font-size: 20px;
    /* Gradiente en mapa*/
    background-image: linear-gradient( rgb(247, 180, 35), red);
    color: rgba(238, 0, 0, 0.945);
    text-align: center;
    border: solid 1px black;
    grid-area: mapa;
    
}

.comoLlegar h4 {
    margin: 5px;
}

.quienesSomos {
    margin-left: 10px;
    font-family: 'Quicksand';
    font-size: 16px;
    background-color: whitesmoke;
}

.fotos {
    display: inline;
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.titulos {
    font-size: 30px;
    font-family: 'Oswald';
    }
 .comentarios {
     width: 320px;
     height: 120px;
     border: solid 2px lightgrey;
 }
 .comentarios h4 {
     text-decoration: underline orange;
 }

 .fotosServicios {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

 }

/* Transformaciones a menu*/
.transforma {
    transition: all 2s;
}
.transforma a:hover {
    font-size: 25px ;
    color: orangered !important;
}
/* Animacion al titulo principal */
h1 {
    animation-name: aparecer;
    animation-duration: 2s;

}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}